<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title></title>

    <script>
        async function callback() {
            let tickers = document.getElementById('input_tickers').value;
            let response = await fetch("/callback/getStock?tickers=" + tickers);
            if (response.ok) {
                let chartJson = await response.json();
                if (response.ok) {
                    let response = await fetch("/callback/getTable?tickers=" + tickers);
                    let tableJson = await response.json();
                    Plotly.newPlot('chart_fig', chartJson, {});
                    Plotly.newPlot('chart_tbl', tableJson, {});

                } else {
                    alert("HTTP-Error: " + response.status + " on getTable");
                }
            } else {
                alert("HTTP-Error: " + response.status + " on getStock");
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col text-light bg-dark" style="margin:20px 0px 20px 0px">
                <h1 style="padding:20px 0px 20px 0px">Optimal portfolio tool</h1>
            </div>

        </div>
        <div class="row">
            <div class="col"><b>Input desired assets</b></div>
            <input type="text" id="input_tickers" placeholder="MSFT,AAPL,AMD">
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="callback()" style="float: center;">Fetch
                    stock</button>
            </div>
            <div class="w-100" style="padding:10px;text-align:right;font-size: small;"><i>Note: If an asset can't be
                    found it will be excluded. Assets in the portfolio can be seen in the table.</i></div>

            <div class="col-12">
                <div id="chart_fig" class="chart" style="height: 700px;border: 1px solid; 
                box-shadow: 5px 5px 5px #888888;">
                </div>
            </div>

            <div class="col-12">
                <div id="chart_tbl" class="chart" style="height: 200px;border: 1px solid; 
                box-shadow: 5px 5px 5px #888888;">
                </div>
            </div>
            <div class="col-12" style="font-size:smaller;padding:10px;text-align: right;">
                <i>The data is collected from Yahoo Finance</i>
            </div>

        </div>

    </div>


    <!-- <script>callback();</script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>